<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">

      <header>
        <h1>Manuel Briot</h1>
        <p></p>
        <p class="view">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon"><img src="/images/twitter.png"></span>
            <span>@mbriot</span>
          </a>
        </p>
        <p class="view">
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon"><img src="/images/github-logo.png"></span>
            <span>@mbriot</span>
          </a>
        </p>
      </header>

      <section>
        {{ content }}
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
